.nav-bar {
  background-color: rgb(17, 24, 39, 0.85);
  /* box-shadow: 0 10px 30px -10px rgba(2, 12, 27, 0.7); */
}

.link-item {
  counter-increment: item 0;
}

.nav-link {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.nav-link::before {
  position: relative;
  counter-increment: item 1;
  content: "0" counter(item) ".";
  font-size: 12px;
  margin-right: 10px;
  color: rgb(253, 164, 175);
}
