.subHeading {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.subHeading::before {
  position: relative;
  counter-increment: section 1;
  content: "0" counter(section) ".";
  font-size: 30px;
  bottom: -5px;
  margin-right: 15px;
  color: rgb(253, 164, 175);
}

.subHeading::after {
  content: "";
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  margin-left: 20px;
  background-color: white;
}
